$blue: rgba(37, 78, 240, 1);
$similar: rgba(37, 78, 240, 0.7);
$pagination: rgb(194, 207, 255);
$quickLinks: rgba(3, 22, 97, 1);
$lightBlue: rgba(39, 32, 131, 0.733);
$white: rgb(255, 255, 255);
$whitesmoke: rgba(236, 236, 236, 1);
$yellow: rgba(255, 199, 0, 1);

$largeFontSize: 2rem;
$mainFontSize: 1.7rem;
$captionFont: 1.5rem;
$mediumFontSize: 1.3rem;
$smallSizeFont: 1rem;
$smallerFontSize: 0.7rem;
$smallwstFontSize: 0.5rem;
